<header style="display: flex; justify-content: space-between;">
    <h1>Profile Manager</h1>
    <nav>
        <a href="/" style="text-decoration:none; font-size: 20px;padding:8px 16px;">Home</a>
        <a href="/profiles" style="text-decoration:none; font-size: 20px;padding:8px 16px;">Profiles</a>
    </nav>
</header>